<h1>Create Page</h1>

<form method="post" action="/products/add">
    <div class="mb-3">
        <input type="text" name="Name" placeholder="Product Name..." class="form-control" />
    </div>
    <div class="mb-3">
        <input type="text" name="Price" placeholder="Product Price..." class="form-control" />
    </div>
    <div class="mb-3">
        <textarea name="Description" placeholder="Product Description..."></textarea>
    </div>
    <button type="submit" class="btn btn-outline-dark">Create</button>
</form>