<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

    @foreach(var item in @Model)
    {
        <h2>@item.Name</h2>
        <a href="/Products/Details/@item.Id">Details</a>
    }
    <div class="my-3">
        <a href="/Products/Create/" class="btn btn-primary " role="button">Create</a>
    </div>


</body>
</html>